<%
   content_for :styles do
     stylesheet_link_tag 'tool/weizhang'
   end
%>
<div class="banner">
  <%= image_tag 'banner/1.jpg' %>
  <a class="tip">
    <span>
      违章查询
    </span>
  </a>
</div>
<div class="main_body">
  <div class="ui form segment" id="form_body">
    <div class="field">
      <label>车牌号</label>
      <div class="ui left labeled icon input">
        <input type="text" placeholder="请输入车牌号：苏AXXXXX" name="licence" id="licence" value="<%= cookies[:licence] %>">
      </div>
    </div>
    <div class="field">
      <label>发动机号后六位</label>
      <div class="ui left labeled icon input">
        <input type="tel" pattern="[0-9]{6}" placeholder="请输入发动机号后六位" name="engine_code" id="engine_code" value="<%= cookies[:engine_code] %>">
      </div>
    </div>

    <div class="ui warning message" style="display: block">
      <p>*目前只支持南京车牌查询(苏A)</p>
    </div>

    <div class="ui orange submit button attached" id="cha">查询</div>
  </div>

  <div id="table_body" style="display: none">
  </div>
</div>

<script>
  var licence;
  var engine_code;

  $('#cha').click(function(){
    licence = $('#licence').val();
    engine_code = $('#engine_code').val();

    if(licence == "" || engine_code == ""){
      alert("请输入正确的车牌号及发动机后6位");
    }else{
      $.ajax({
        type: 'POST',
        url: '/tool/weizhang_result',
        data: {licence:licence, engine_code:engine_code},
        success: function(data){
          ShowProgressBar();
          if(data.job_status == 2){
            setTimeout(get_job(), 2000);
          }else{
            HideProgressBar();
            $('#form_body').hide();
            $('#table_body').empty();

            if(data.content.length == 0){
              $('#table_body').append('<div class="ui error message" style="display: block"><p>车牌号或车架号输入错误或无违章记录！</p></div>');
            }else{
              $(data.content).each(function(i,e){
                show_content(e);
              });
            }

            $('#table_body').append('<div class="ui orange submit button attached" id="back">继续查询</div>');
            $('#table_body').show();
            bind_back();
          }
        },
        error:function(){
          alert('网络异常，请稍后再试！');
          HideProgressBar();
        },
        dataType: 'json'
      });
    }

  });


  function get_job(){
    $.ajax({
      type: 'POST',
      url: '/tool/weizhang_result',
      data: {licence:licence, engine_code:engine_code},
      success: function(data){
        if(data.job_status == 2){
          setTimeout(get_job(), 2000);
        }else{
          HideProgressBar();
          $('#form_body').hide();
          $('#table_body').empty();

          if(data.content.length == 0){
            $('#table_body').append('<div class="ui error message" style="display: block"><p>车牌号或车架号输入错误或无违章记录！</p></div>');
          }else{
            $(data.content).each(function(i,e){
              show_content(e);
            });
          }

          $('#table_body').append('<div class="ui orange submit button attached" id="back">继续查询</div>');
          $('#table_body').show();
          bind_back();
        }
      },
      error:function(){
        alert('网络异常，请稍后再试！');
        HideProgressBar();
      },
      dataType: 'json'
    });
  }

  function show_content(data){
    html = '<div class="ui column grid" style="display: block;margin-bottom: 10px;">\
    <div class="row">\
            <div class="column">\
            <div class="ui raised segment">\
            <div class="ui orange ribbon label">'+data.handle+'</div>\
    <p>'+data.event+'</p>\
    <p style="color: #888;">地点：'+data.addr+'</p>\
    <p style="color: #888;">时间：'+data.time+'</p>\
    <p style="color: #888;">记分：'+data.fen+'分</p>\
    <p style="color: #888;">罚款：'+data.qian+'元</p>\
    </div>\
    </div>\
    </div>\
    </div>';
    $('#table_body').append(html);
  }

  function bind_back(){
    $('#back').click(function(){
      $('#table_body').hide();
      $('#form_body').show();
    });
  }
</script>