<%
   content_for :styles do
     stylesheet_link_tag 'contect'
   end
%>

<div class="tbanner">
  <%= image_tag 'banner/4.jpg' %>
  <a class="tip">
    <span>
      联系销售
    </span>
  </a>
</div>


<div class="main_body">
  <div class="ui">
    <div class="ui segment selection list" style="margin-bottom: 10px">
      <div class="ui red ribbon label">
        客户经理
      </div>
      <div class="right floated tiny orange ui button">拨打：13913850894</div>

      <div class="item">
        <img src="http://stc.weimob.com/img/default/car_sell.png" style="width: 20%">
        <div class="ui grid">
          <div class="ui eleven wide column">

            <h3 class="ui header" style="margin-bottom: 5px">
              王昭君 <div class="ui star rating">
              <i class="icon active"></i>
              <i class="icon active"></i>
              <i class="icon active"></i>
              <i class="icon active"></i>
              <i class="icon"></i>
            </div>
            </h3>
            5年以上销售经验
          </div>

        </div>
      </div>
    </div>

    <div class="ui segment selection list" style="margin-bottom: 10px">
      <div class="ui red ribbon label">
        客户经理
      </div>
      <div class="right floated tiny orange ui button">拨打：13913850894</div>

      <div class="item">
        <img src="http://stc.weimob.com/img/default/car_sell.png" style="width: 20%">
        <div class="ui grid">
          <div class="ui eleven wide column">

            <h3 class="ui header" style="margin-bottom: 5px">
              王昭君 <div class="ui star rating">
              <i class="icon active"></i>
              <i class="icon active"></i>
              <i class="icon active"></i>
              <i class="icon active"></i>
              <i class="icon active"></i>
            </div>
            </h3>
            5年以上销售经验
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
